<tr>
    <td>
        <h2 class="table-avatar">
            <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/media/{{appt.doctor.user.profile_pic}}" alt="User Image"></a>
            <a href="profile.html">Dr. {{appt.doctor.user.first_name}} {{appt.doctor.user.last_name}}</a>
        </h2>
    </td>
    <td>{{appt.doctor.speciality}}</td>
    <td>
        <h2 class="table-avatar">
            <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/media/{{appt.patient.user.profile_pic}}" alt="User Image"></a>
            <a href="profile.html">{{appt.patient.user.first_name}} {{appt.patient.user.first_name}}{{appt.patient.user.last_name}} </a>
        </h2>
    </td>
    <td>{{appt.created_at|date:"d/m/Y"}} <span class="text-primary d-block">{{appt.created_at|date:"H:m"}}-{{appt.created_at|date:"H:m"}} </span></td>
    <td>
        <div class="status-toggle">
            <input type="checkbox" id="status_1" class="check" checked>
            <label for="status_1" class="checktoggle">checkbox</label>
        </div>
    </td>
    <td class="text-right">
        {{appt.amount}}
    </td>
</tr>